body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.recipe {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.recipe h3 {
    margin-top: 0;
}

.recipe p {
    margin-bottom: 5px;
}